@page
@model SpeedMeasuremetRazor.Pages.Locations.EditLocationModel
@{
    ViewData["Title"] = "Rediger Lokation";
}

<h1>Rediger Lokation</h1>

<div class="row">
    <div class="col-md-5">
        <form method="post">
            <div class="form-group">
                <label asp-for="@Model.Location.Address" class="control-label">Lokationens Addresse</label>
                <input asp-for="@Model.Location.Address" class="form-control" />
                <span asp-validation-for="@Model.Location.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Location.SpeedLimit" class="control-label">Lokationens Fartgrænse</label>
                <input asp-for="@Model.Location.SpeedLimit" class="form-control" />
                <span asp-validation-for="@Model.Location.SpeedLimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Location.Zone" class="control-label">Lokationens Zone</label>
                <input asp-for="@Model.Location.Zone" class="form-control" />
                <span asp-validation-for="@Model.Location.Zone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Gem Ændringer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-page="Index">Tilbage til lokations listen</a>
</div>


